<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <h2>index</h2>
    index

    <div>
        <h3>Estados</h3>
        {% for estado in lista_estados %}
        
            <a href="">{{ estado.get_nome() }}</a>
        
        {% endfor %}
    </div>

    <div>
        <h3>Noticias</h3>
    
        {% for noticia in lista_noticias %}
        <div>
            <a href="{{ url_for('noticias', id=noticia.get_id()) }}">{{ noticia.get_titulo() }}</a>
        </div>
        {% endfor %}
    
    </div>

</body>
</html>
